body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

#instructions {
    text-align: center;
    padding: 20px 0;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.characterPanels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.characterPanel {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.characterPanel:nth-child(odd) {
    margin-right: 10px;
}

.characterPanel:nth-child(even) {
    margin-left: 10px;
}

.characterPanel h1 {
    text-align: center;
    margin-bottom: 10px;
}

.characterPanel img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.infoList {
    margin-top: 20px;
}

.infoList li {
    margin-bottom: 10px;
}

#achievementMessage {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: #888;
}

.buttons button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 5px;
}

#button4,
#button5 {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
}

.characterPanel h1 {
    text-align: center !important;
    margin-bottom: 10px;
}
